h1,footer{
    color:grey;
}
body{
    font-family: 'Courier New', Courier,monospace;
    background-color:rgba(187,187,187,50);
    color:rgb();
    text-align: center;
    background-image: url(grey-triforce.gif);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: 960px 540px;
}

h1{
    position: sticky;
    top:0px;
    left:0px;
    background-color: rgb(148, 7, 7);
}
 
a{
    color:rgb(25, 25, 255);
}


footer{
    background-color: rgb(148, 7, 7);
    width: 100%;
}
