button{
    color:red;
    font-size:19px;
}
h1{
    color:firebrick;
    background:grey;
    text-align: center;
}
.player{
    width:200px;
    height:200px;
    border:2px solid grey;
}
.player:hover{
    border:5px solid blue;
}
#rock{
    background-image:url(rocks.png);
}
#paper{
    background-image:url("paper.png")
}
#scissors{
    background-image:url("scissors.png");
}
#opponent{
    position:relative;
    width:200px;
    height:200px;
    background-image:unset;
    top:95px;
    border:1px solid grey;
}
body{
    font:'Times New Roman';
    font-size:25px;
    margin:auto;
} 